<div id="<%= dom_id unit %>">
  <p>
    <strong>Nombre:</strong>
    <%= unit.name %>
  </p>

  <p>
    <strong>Tipo de Unidad:</strong>
    <%= unit.unit_type %>
  </p>

  <p>
    <strong>Alícuota:</strong>
    <%= unit.alicuota %>
  </p>

</div>
